*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #b9deed, #efefef);
}

.wrapper {
    margin: 0 auto;
    margin-top: 300px;
    width: 400px;
    height: 120px;
}

.input-field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.input {
    outline: none;
    text-align: center;
    font-size: 18px;
    height: 25px;
    background: rgba(255,255,255,0);
    border: none;
    margin-bottom: 50px;
}

.gender {
    font-size: 20px;
    font-family: 'SF Pro Display';
    color: rgba(113, 173, 252, 0.8);
    text-align: center;
}

/*.input-btn {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    outline: none;*/
/*    border-image-slice: 1;*/
/*    border-width: 1.5px;*/
/*    border-image-source: linear-gradient(to left, rgba(116, 58, 213, 0.4), rgba(213, 58, 157, 0.8));*/
/*    background: rgba(255,255,255,0);*/
/*}*/


/*.input-btn:active {*/
/*    border-image-source: linear-gradient(to top, rgba(116, 58, 213, 0.4), rgba(213, 58, 157, 0.8));*/
/*    background: rgba(255,255,255,0.1);*/
/*}*/